@import "mixins";
@import url(./fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    background-size: cover;
    background-image: url(../img/digitalproducts_background.png);
    &__content{
        margin-top: 25%;
        text-align: center;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'proxima_nova_bold',cursive;
        color: white;
        font-size: 60px;
    }
    &__text{
        margin-left: 22%;
        text-align: center;
        width: 62%;
        font-family: 'PT_sans_italic',cursive;
        color: white;
        font-size: 25px;
    }
}
.section{
    padding: 0px 215px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo{
        width: 4%;
        height: 4%;
        padding-top: 3%;
    }
    &__nav{
        list-style-type: none;
        display: inline-flex;  
        padding-top: 4%;
    }
    &__item:hover{
        border-bottom: 2px gray;
    }
    &__item{
        font-size: 20px;
        color: white;
        font-family: 'proxima_nova_semibold', cursive;
        text-transform: uppercase;
        padding-right: 52px;
    }
}



@media screen and (min-width: 576px) {
    .section{
        padding: 0px 100px;
    }
    .home{
        height: 100%;
        padding-bottom: 100px;
        background-size: cover;
        &__title{
            width: 100%;
            font-size: 20px;
        }
        &__text{
            font-size: 20px;
        }
    }
    .header{
        &__nav{
            padding-left: 15px;
        }
        &__logo{
            width: 4%;
            height: 4%;
            padding-top: 3%;
        }
        &__item{
            font-size: 15px;
            padding-right: 20px;
        }
    }
}
@media screen and (min-width: 768px) {
    .section{
        padding: 0px 150px;
    }
    .home{
        height: 100vh;
        &__title{
            width: 100%;
            font-size: 30px;
        }
        &__text{
            font-size: 20px;
        }
    }
    .header{
        &__item{
            font-size: 18px;
            padding-right: 35px;
        }
    }
}
@media screen and (min-width:992px) {
    .section{
        padding: 0px 215px;
    }
    .home{
        height: 100vh;
        &__title{
            font-size: 40px;
        }
        &__text{
            font-size: 20px;
        }
    }
    .header{
        &__logo{
            width: 4%;
            height: 4%;
            padding-top: 3%;
        }
        &__item{
            font-size: 18px;
            padding-right: 45px;
        }
    }
}
@media screen and (min-width:1200px) {
    .home{
        &__title{
            font-size: 60px;
        }
        &__text{
            font-size: 25px;
        }
    }
    .header{
        &__item{
            font-size: 20px;
            padding-right: 52px;
        }
    }
}
.about{
    display: flex;
    flex-direction: column;
   &__content{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 100px;
   } 
   &__logo{
       padding-top: 70px ;
       width: 28.5%;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-image: url(../img/about_backgraund.png);
       background-size: cover;
       height: 560px;
       &__img{
           width: 50px;
           height: 55px;
       }
       &__title{
           margin-top: 15px;
            font-family: 'proxima_nova_semibold', cursive;
            text-transform: uppercase;
            color: white;
       }
   }
   &__information{
       width: 50%;
       display: flex;
       flex-direction: column;
       margin-top: 70px;
       &__txt{
        font-family: 'PT_sans', cursive;
        color: rgb(117, 117, 117);
       }
       &__txt_2{
        margin-top: 20px;
        font-family: 'PT_sans', cursive;
        color: rgb(117, 117, 117); 
       }
       &__btn:hover{
           background-color: rgba(236, 186, 243, 0.596);
       }
       &__btn{
        width: 150px;
        padding: 10px;
        border: 1px solid rgb(117, 117, 117);
        background-color: white;
        font-family: 'PT_sans_italic',cursive;
        color: rgb(117, 117, 117);
        margin-left: 25%;
        margin-top: 25%; 
       }
   }
   &__img{
        height: 60px;
        width: 46px;
        margin-left: 45%;
        margin-bottom: 20px;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'proxima_nova_bold',cursive;
        color: rgb(117, 117, 117);
    }
    &__text{
        font-family: 'PT_sans_italic',cursive;
        color: rgb(82, 82, 82);
        width: 50%;
        font-size: 15px;
        margin-left: 25%;
        margin-top: 10px;
    }
    &__text2{
        font-family: 'PT_sans_italic',cursive;
        color: rgb(82, 82, 82);
        width: 50%;
        font-size: 15px;
        margin-left: 25%;
        margin-top: 10px;
    }
    &__section_block{
        width: 100%;
        margin-top: 100px;
    }
   &__block_grey{
    background-color: rgb(223, 223, 223);
    @include about__block;
    width: 50%;
   }
   &__block_white{
    width: 50%;
    @include about__block;
   }
   &__block_big{
    background-size: cover;
    background-image: url(../img/services_background.png);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.3%;
    height: 100%;
    padding: 364px 0px;
   }
   &__section_mini{
       display: flex;
       flex-direction: column;
   }
   &__section_mini_1,
   &__section_mini_2,
   &__section_block{
       display: flex;
       flex-direction: row;
   }
}


@media screen and (min-width: 576px) {
    .slider__img{
        height: 346px;
        width: 530px;
    }
    .about{
        &__section_block{
        display: flex;
        flex-direction: column;
    }   
    &__block_big{
        width: 100%;
        padding: 20px 0px;
    }
    &__block_white,
    &__block_grey{
        padding: 80px 0px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    } 
    &__logo{
        padding: 70px ;
        width: 100%;
        height:auto;
    } 
    &__information{
        width: 100%;
        &__btn{
            margin-left: 40%;
            margin-top: 4%;
        }
    }
}   
}
@media screen and (min-width: 768px) {
    .slider__img{
        height: 446px;
        width: 630px;
    }
    .about{
        &__section_block{
        display: flex;
        flex-direction: column;
    }   
    &__block_big{
        width: 100%;
        padding: 30px 0px;
    }
    &__block_white,
    &__block_grey{
        padding: 100px 0px;
    }

    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    } 
    &__logo{
        padding: 70px ;
        width: 100%;
        height:auto;
    }   
    &__information{
        width: 100%;
        &__btn{
            margin-left: 40%;
            margin-top: 4%;
        }
    }
    }
}
@media screen and (min-width:992px) {
    .slider__img{
        height: 446px;
        width: 630px;
    }
    .about{
        &__section_block{
        display: flex;
        flex-direction: column;
    }   
    &__block_big{
        width: 100%;
        padding: 50px 0px;
    }
    &__block_white,
    &__block_grey{
        padding: 120px 0px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    } 
    &__logo{
        padding: 70px ;
        width: 100%;
        height:auto;
    } 
    &__information{
        width: 100%;
        &__btn{
            margin-left: 40%;
            margin-top: 4%;
        }
    }
}   
}
@media screen and (min-width:1200px) {
    .slider__img{
        height: 546px;
        width: 730px;
    }
   .about{
            &__section_block{
            display: flex;
            flex-direction: row;
        }
        &__block_big{
            width: 33.3%;
            padding: 364px  0px;
        }
        &__block_white,
        &__block_grey{
            padding: 150px 0px;
        }
        &__content{
            display: flex;
            flex-direction: row;
        } 
        &__information{
            width: 50%;
            margin-right: 10%;
            &__btn{
                margin-left: 25%;
                margin-top: 25%;
            }
        }
           &__logo{
            padding-top: 70px ;
            width: 28.5%;
            height: 560px;}
    }   
}

.slider {
    &__item{
        width: 400px;}
    .slick-slide {
        display: flex;
        justify-content: center;
    }
}

.slick-slide {
    position: relative;   
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background: rgba(0,0,0,0);
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
        &:focus {
            border: none;
            outline: none;
        }
    &:after {
        content: ">";
        position: absolute;
        top: -80%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 6;
        background: rgba(0,0,0,0);
        color: #ffffff;
        font-size: 30px;
    }
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;  
    &:after {
        transform: rotate(180deg);
        top: -19%;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    & li {
        list-style-type: none;
        margin: 0 5px;
        & button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 3px solid rgb(255, 255, 255);
            &:focus {
                background: #c79898;
            }
        }
        &.slick-active button{
            background:  rgba(0,0,0,0);
        }
    }
}

.works{
    background-image: url(../img/works__background.png);
        &__content{
            text-align: center;
            margin: auto 0;
            padding: 40px 0px;
        }
        &__title{
            margin-top: 15px;
            font-family: 'proxima_nova_semibold', cursive;
            text-transform: uppercase;
            color: white;
        }
        &__btn:hover{
            background-color: #b1add5;
        }
        &__btn{
            width: 150px;
            padding: 10px;
            border: 2px solid rgb(255, 255, 255);
            background-color: rgba(0,0,0,0);
            font-family: 'PT_sans_italic',cursive;
            color: rgb(255, 255, 255);
            margin:5% 0% 3% 45%;
        }
}
.slider {
    &__item_second{
        width: 400px;}
    .slick-slide {
        display: flex;
        justify-content: center;
    }
}

.slick-slide {
    position: relative;   
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    background: rgba(0,0,0,0);
    font-size: 0;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
        &:focus {
            border: none;
            outline: none;
        }
    &:after {
        content: ">";
        position: absolute;
        top: -17%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 6;
        background: rgba(0,0,0,0);
        color: #ffffff;
        font-size: 30px;
    }
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;  
    &:after {
        transform: rotate(180deg);
        top: -19%;
    }
}
.service{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(230, 230, 230);
    &__logo{
        height: 60px;
        width: 60px;
        margin-left: 48%;
    }
}
.slider_second{
    margin: 0px 215px;
}
.slider__item_second{
    margin: 0px 20px;

}
.slider__item_second{
    margin: 150px 20px ;
    height: 355px;
    background-color: white;
    position: relative;
}
.slider__social{
    margin-top: 19%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b1add5;
}
.slider__title_second{
    font-family: 'proxima_nova_semibold', cursive;
    margin-top: 50%;
    color: #b1add5;
    text-transform: uppercase;
    font-size: 27px;
}
.slider__profesion{
    font-size: 20px;
    margin-top: 10px;
    font-family: 'PT_sans_italic',cursive;
}
.slider__img_second{
    top: -31%;
    left: 15%;
    position: absolute;
    height: 72%;
    width: 72%;
}


.social__icon{
    padding: 20px 0px;
    margin: 0px 10px;
}
.service__logo{
    margin-top: 40px;
}
.service__title:hover{
    font-size: 50px;
}
.service__title{
    font-family: 'proxima_nova_semibold', cursive;
    text-transform: uppercase;
    font-size: 45px;
    margin-left: 25px;
    color: rgb(83, 83, 83);
}

.contact{
        position: relative;
        width: 100%;
        height: 800px;
     &__title{
        text-transform: uppercase;
        font-family: 'proxima_nova_semibold', cursive;
        color: white;
        margin-top: 5px;
        font-size: 30px;
     }
    &__content_1,
    &__content_2{
        display: flex;
        justify-content: center;
    }
    &__input{
        padding: 14px;
        width: 34.5%;
        margin: 7px;
        background-color: rgba(242, 241, 241, 0.45);
        border: 1px;
        border-radius: 2%;
    }
    &__number{
        padding: 14px 14px 150px;
        height: 20%;
        width: 70%;
        background-color: rgba(242, 241, 241, 0.45);
        border: 1px;
        border-radius: 2%;
    }
    &__logo{
        padding-top: 3%;
        text-align: center;
        width: 100%;
        margin: auto 0;
    }
    &__telephon{
        text-align: center;
        width: 77px;
        background-color: #b1add5;
        padding: 15px;
        margin-left: 95%;
        &__img{
            padding-left: 36%;
        }
    }
    &__btn:hover{
        background-color: white;
        color:#b1add5 ;
    }
    &__btn{
        width: 175px;
        margin:2% 0 0 45%;
        padding: 14px;
        text-transform: uppercase;
        font-family: 'proxima_nova_semibold', cursive;
        background-color: #b1add5;
        color: white;
        border: 1px #b1add5 solid;
        font-size: 16px;
    }
    &__adress{
        margin-left: 82%;
        display: flex;
        flex-direction: row;
        &_img{
            background-color: #b1add5;
            padding: 10px;
        }
        &_text{
            color: rgb(95, 95, 95);
            font-family: 'PT_sans_italic',cursive;
            text-align: center;
            width: 200px;
            padding: 10px 20px ;
            background-color: rgba(255, 255, 255, 0.527);
        }
    }
}

 .block-adres{
   position: absolute;
   width: 100%;
   height: 800px;
   top: 0;
   opacity:0.9;
   z-index: 5;
 }
 .map{
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
 }
 .footer{
     background-color: #b1add5;
     display: flex;
    justify-content: space-around;
    height: 200px;
    &__text{
        font-size: 18px;
        font-family: 'proxima_nova_semibold', cursive;
        margin-top: 5%;
        color: white;

    }
    &__social{
        margin-top: 5%;
    }
    &__img{
        margin: 0px 5px;
    }
 }
